

<div class="container_index">

	
	<div class="mash">
		<ul> 
			<li class = "left">
				<ul class = "image">
				<div class = "inner">
				<%= link_to image_tag(@item1.image_front), showleft_item_path(@item1), :method => :post, :class => "front" %>
				<%= link_to image_tag(@item1.image_back), showleft_item_path(@item1), :method => :post,  :class => "back" %>
				</div>
				</ul>
			</li>

			
			<li class = "right">
				<ul class = "image">
				<div class = "inner">
				<%= link_to image_tag(@item2.image_front), showright_item_path(@item2), :method => :post, :class => "front" %>
				<%= link_to image_tag(@item2.image_back), showright_item_path(@item2), :method => :post, :class => "back" %>
				</div>
				</ul>
			</li>
			


		</ul>
	</div>
	

	
	
	
	<div id="rankings"><%= link_to image_tag('seeRankings.png'), list_items_path %>
	</div>
</div>