

<div class="container_index">


	<p>test: <%= request.env['omniauth.auth']%></p>
	
	<div class="mash">
		<ul> 
			<li class = "left">
				<ul class = "image">
				<div class = "inner">
				<%= link_to image_tag(@item1.image_front), showleft_item_path(@item1), :method => :post, :class => "front" %>
				<%= link_to image_tag(@item1.image_back), showleft_item_path(@item1), :method => :post,  :class => "back" %>
				</div>
				</ul>
			</li>
			<div class="buy" id="buythis">
				<%= link_to image_tag('buythis.png'), @item1.link, :target => 'blank' %>
			</div>

			<a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.facebook.com%2FNicoleMiller%2Fapp_389450951093631&media=https%3A%2F%2Fwarm-mountain-8218.herokuapp.com%2Fassets%2F2808_blue_b.jpg" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>


			<li class = "right">
				<ul class = "image">
				<div class = "inner">
				<%= link_to image_tag(@item2.image_front), showright_item_path(@item2), :method => :post, :class => "front" %>
				<%= link_to image_tag(@item2.image_back), showright_item_path(@item2), :method => :post, :class => "back" %>
				</div>
				</ul>
			</li>
			<div class="buy" id="buythat">
				<%= link_to image_tag('buythat.png'), @item2.link, :target => 'blank' %>
			</div>

		</ul>
	</div>
	<div id="rankings"><%= link_to image_tag('seeRankings.png'), list_items_path %>
	</div>
</div>