<%= javascript_include_tag "application" %>

<div class="container">

	<%= render item %>
	
	
	<div class="mash">
		<ul> 
			<li class = "left">
				<ul class = "image">
				<div class = "inner">
				<%= link_to image_tag(@item1.image_front), showleft_item_path(@item1), :method => :post, :class => "front" %>
				<%= link_to image_tag(@item1.image_back), showleft_item_path(@item1), :method => :post, :class => "back" %>
				</div>
				</ul>
				<ul>
					<li class="purchase">
						<%= link_to "buy", @item1.link, :target => "_blank" %>
					</li>
				</ul>
			</li>

			<li class = "right">
				<ul class = "image">
				<div class = "inner">
				<%= link_to image_tag(@item2.image_front), showright_item_path(@item2), :method => :post, :class => "front" %>
				<%= link_to image_tag(@item2.image_back), showright_item_path(@item2), :method => :post, :class => "back" %>
				</div>
				</ul>
				<ul>
					<li class="purchase">
						<%= link_to "buy", @item2.link, :target => "_blank" %>
					</li>
				</ul>
			</li>
		</ul>
		<div id = "or">
			<%= image_tag("Or2.png") %>
		</div>
	</div>
</div>